@media screen and (min-width: 2000px)
  .land
    &__palm
      &-two
        width: 1032px
        height: 1098px
      &-one
        width: 601px
        height: 813px

@media screen and (min-width: 2000px) and (max-height: 1020px)
  .land
    &__content
      &-container
        transform-origin: top center
        transform: scale(.9)
        margin: 0 0 -80px 0

@media screen and (min-width: 2400px)
  .land
    &__palm
      &-one
        width: 671px
        height: 925px
      &-two
        width: 1203px
        height: 1242px

@media screen and (max-width: 1930px) and (max-height: 1020px)
  .land
    &__content
      &-container
        transform-origin: top center
        transform: scale(.9)
        margin: 0 0 -80px 0

@media screen and (max-width: 1930px) and (max-height: 915px)
  .land
    &__start
      &-wrap
        transform: scale(.9)

@media screen and (max-width: 1930px) and (max-height: 815px)
  .land
    &__start
      &-wrap
        transform: scale(.8)

@media screen and (max-width: 1930px) and (max-height: 778px)
  .land
    &__start
      &::before
        top: 47%
      &-wrap
        position: relative
        top: 10vh
        transform-origin: top center
        transform: scale(.7)

@media screen and (max-width: 1930px) and (max-height: 660px)
  .land
    &__start
      &::before
        top: 44%
      &-wrap
        top: 15vh
        transform: scale(.6)

@media screen and (max-width: 1930px) and (max-height: 605px)
  .land
    &__start
      &::before
        top: 38%
      &-wrap
        top: 15vh
        transform: scale(.5)

@media screen and (max-width: 1700px) and (max-height: 910px)
  .land
    &__content
      &-container
        transform: scale(.85)
        margin: 0 0 -164px 0
      &-rules
        transform: scale(.9)
        &-enjoy
          transform-origin: left center
          transform: scale(.9)

@media screen and (max-width: 1700px) and (max-height: 865px)
  .land
    &__palm
      &-two
        width: 807px
        height: 811px
      &-one
        width: 420px
        height: 609px
    &__content
      &-container
        transform: scale(.8)
        margin: 0 0 -243px 0
      &-rules
        transform: scale(.85)
        &-enjoy
          transform: scale(.85)

@media screen and (max-width: 1700px) and (max-height: 808px)
  .land
    &__content
      &-container
        transform: scale(.75)
        margin: 0 0 -291px 0

@media screen and (max-width: 1700px) and (max-height: 770px)
  .land
    &__content
      &-container
        transform: scale(.7)
        margin: 0 0 -343px 0

@media screen and (max-width: 1598px)
  .land
    &__footer
      padding: 57px 0 26px
      &-container
        &::before
          top: -84px
      &-item
        &-left
          font-size: 62px
          line-height: 49px
        &-right
          font-size: 17px
          line-height: 24px
        img
          max-width: 35px
        &:nth-child(3) .land__footer-item-left::after
          width: 37px
          height: 43px
        &:nth-child(3)::before
          font-size: 15px
          line-height: 19px
          width: 82px
          height: 17px
          bottom: -5px
          left: 7px
        &:last-child .land__footer-item-right
          span
            font-size: 15px
            line-height: 19px


@media screen and (max-width: 1450px)
  .land
    &__logo
      width: 321px
    &__palm
      &-one
        width: 411px
        height: 505px
      &-two
        width: 758px
        height: 830px
        right: -356px

@media screen and (max-width: 1450px) and (max-height: 902px)
  .land
    &__palm
      &-two
        width: 810px

@media screen and (max-width: 1425px)
  .land
    &__content
      &-bonus
        &::before
          width: 90vw
      &-rules
        margin-bottom: 60px
    &__footer
      &-wrapper
        flex-direction: column
        align-items: center
      &-list
        margin: 0 0 40px 0
      &-lic
        margin: 0

@media screen and (max-width: 1425px) and (min-height: 870px)
  .land
    &__palm
      &-two
        top: -1%
      &-one
        top: 4%
    &__content
      &-rules
        &-enjoy
          transform: scale(.75)

@media screen and (max-width: 1425px) and (min-height: 903px)
  .land
    &__palm
      &-two
        top: 4%
      &-one
        top: 4%

@media screen and (max-width: 1425px) and (max-height: 770px)
  .land
    &__content
      &-rules
        margin-bottom: 0


@media screen and (max-width: 1425px) and (max-height: 710px)
  .land
    &__palm
      &-two
        width: 749px
        right: -326px
    &__content
      &-container
        transform: scale(0.65)
        margin: 0 0 -405px 0

@media screen and (max-width: 1425px) and (max-height: 660px)
  .land
    &__content
      &-container
        transform: scale(0.6)
        margin: 0 0 -482px 0
      &-rules
        transform: scale(0.8)
        &-enjoy
          transform: scale(0.8)

@media screen and (max-width: 1300px) and (max-height: 610px)
  .land
    &__palm
      &-two
        width: 692px
      &-one
        width: 416px
        height: 421px
    &__content
      &-container
        transform: scale(0.55)
        margin: 0 0 -554px 0
      &-rules
        transform: scale(0.75)
        &-enjoy
          transform: scale(0.75)

@media screen and (max-width: 1216px)
  .land
    &__logo
      width: 262px
    &__content
      &-bonus
        &::before
          top: 119%
      &-rules
        &-enjoy
          transform: scale(0.7)

@media screen and (max-width: 1216px) and (max-height: 610px)
  .land
    &__logo
      width: 262px

@media screen and (max-width: 1125px) and (max-height: 835px)
  .land
    &__palm
      &-two
        width: 887px
        height: 876px
        right: -446px

@media screen and (max-width: 1120px) and (orientation: landscape)
  .land
    &__content
      &-rules
        &-enjoy
          right: -272px
          top: -230px
          transform: scale(0.55)

@media screen and (max-width: 1040px) and (orientation: landscape)
  .land
    &__content
      &-rules
        margin-bottom: 145px
    &__footer
      &-list
        justify-content: center
        width: 100%
        align-items: flex-start
        margin: 0 0 5px 0
      &-item
        flex-direction: column
        img
          margin-top: 27px
        &-left
          font-size: 96px
          line-height: 96px
          margin: 0 0 0 0
        &-right
          margin-top: -8px
          font-size: 24px
          line-height: 28px
        &:not(:last-child)
          margin: 0 0 0 0
        &:first-child
          align-items: flex-start
          margin: 0 30px 0 0
        &:nth-child(2)
          margin: 0 20px 0 0
        &:nth-child(3)
          align-items: center
          margin: 0 30px 0 0
          .land__footer-item-right
            max-width: 100%
          .land__footer-item-left::after
            width: 67px
            height: 63px
          &::before
            bottom: 35px
            left: 37px
            font-size: 19px
            line-height: 22px
            width: 85px
            height: 21px
        &:nth-child(4)
          margin: 0 10px 0 0
        &:nth-child(5)

          .land__footer-item-right
            max-width: 180px
            text-align: end
            span
              font-size: 19px
              line-height: 22px
      &-lic
        max-width: 275px
        text-align: center
        img
          &:not(:last-child)
            margin: 0 20px 20px 0
          &:nth-child(5)
            margin: 0 0 20px 0

/****************************************TABLET************************************/

@media screen and (max-width: 1040px) and (orientation: portrait)
  .land
    &__start
      background: rgba(204, 103, 46, 0.65)
      &::before
        height: 1230px
    &__palm
      &-one
        top: 17%
        left: -140px
      &-two
        top: 16%
    &__content
      &-rules
        padding: 90px 0 0
        &-item
          text-shadow: 1px 1px 0px #6C6857
        &-title
          font-size: 46px
          line-height: 49px
        &-enjoy
          transform-origin: right center
          transform: scale(.6)
          left: -370px
          top: -280px
      &-link
        &::before
          top: 30px
          right: -210px
          left: auto
          background: url("../img/arrow-tab.png") no-repeat 0 0/contain

@media screen and (max-width: 900px) and (orientation: portrait)
  .land
    //overflow-x: hidden
    &__palm
      &-two
        top: 14%
        right: -460px
      &-one
        top: 16%
        left: -160px
    &__content
      &-container
        transform-origin: top center
        transform: scale(.9)
        margin: 0 0 -110px 0
      &-rules
        transform: scale(.9)
        margin-bottom: 145px
        &-enjoy
          transform: scale(0.5)
          left: -320px
          top: -230px
    &__footer
      &-list
        justify-content: center
        width: 100%
        align-items: flex-start
        margin: 0 0 5px 0
      &-item
        flex-direction: column
        img
          margin-top: 27px
        &-left
          font-size: 96px
          line-height: 96px
          margin: 0 0 0 0
        &-right
          margin-top: -8px
          font-size: 24px
          line-height: 28px
        &:not(:last-child)
          margin: 0 0 0 0
        &:first-child
          align-items: flex-start
          margin: 0 30px 0 0
        &:nth-child(2)
          margin: 0 20px 0 0
        &:nth-child(3)
          align-items: center
          margin: 0 30px 0 0
          .land__footer-item-right
            max-width: 100%
          .land__footer-item-left::after
            width: 67px
            height: 63px
          &::before
            bottom: 35px
            left: 37px
            font-size: 19px
            line-height: 22px
            width: 85px
            height: 21px
        &:nth-child(4)
          margin: 0 10px 0 0
        &:nth-child(5)

          .land__footer-item-right
            max-width: 180px
            text-align: end
            span
              font-size: 19px
              line-height: 22px
      &-lic
        max-width: 275px
        text-align: center
        img
          &:not(:last-child)
            margin: 0 20px 20px 0
          &:nth-child(5)
            margin: 0 0 20px 0

@media screen and (max-width: 770px) and (orientation: portrait)
  .land
    &__start
      &::before
        height: 1100px
      &-wrap
        transform: scale(0.8)
    &__content
      &-bonus
        &::before
          top: 145%
      &-container
        transform: scale(0.85)
        margin: 0 0 -205px 0
      &-rules
        margin-bottom: 113px
        transform: scale(0.8)
        &-enjoy
          transform: scale(0.4)
          left: -307px
          top: -200px


/****************************************MOBILE************************************/

@media screen and (max-width: 600px) and (orientation: portrait)
  .land
    &__start
      &::before
        height: 950px
        top: 60%
      &-wrap
        position: absolute
        top: 39%
        left: 50%
        transform: translate(-50%, -50%) scale(1.2)
      &-top
        min-width: 310px
      &-bottom
        max-width: 237px
        margin: -22px auto 0 auto
        left: 6px
    &__logo
      width: 160px
    &__palm
      &-two
        width: 409px
        height: 448px
        top: 15%
        right: -266px
    &__content
      &-container
        transform: scale(0.5)
        margin: 40px 0 -386px 0
      &-link
        transform: scale(1.3)
        top: 30px

        &::before
          transform: scale(.9)
          top: 179px
          right: -64px
        &::after
          opacity: 0
          pointer-events: none
          content: ''
          position: absolute
          width: 100%
          height: 100%
          animation: 2s ease infinite animBtnMob
          filter: drop-shadow(0 0 10px #FFF3B1)
          background: url("../img/btn-desc-hover.png") no-repeat 0 0/contain
      &-bonus
        &::before
          width: 150%
          top: 137%
        &-promo
          img
            top: -69px
      &-rules
        transform: scale(1)
        width: 375px
        height: 500px
        margin: 0 auto 185px auto
        padding: 39px 0 0
        &-enjoy
          transform: scale(0.25)
          left: -269px
          top: -276px
        &-title
          font-size: 22px
          line-height: 27px
          text-shadow: 1px 1px 0px #524A2B
          margin: 0 0 28px 0
        &-list
          max-width: 255px
          margin: 0 0 18px 0
        &-item
          text-shadow: 1px 1px 0px #6C6857
          padding: 0 0 0 53px
          font-size: 13px
          line-height: 18px
          min-height: 26px
          &:not(:last-child)
            margin: 0 0 22px 0
          &:first-child::after
            width: 33px
            height: 33px
          &:nth-child(2)::after
            width: 41px
            height: 35px
          &:nth-child(3)::after
            width: 40px
            height: 30px
          &:nth-child(4)::after
            width: 41px
            height: 30px
        &-info
          font-size: 12px
          line-height: 16px
    &__footer
      padding: 46px 0 15px
      &-container
        &::before
          top: -63px
      &-list
        margin: 0 0 15px 0
      &-item
        img
          margin-top: 14px
          max-width: 20px
        &-left
          font-size: 44px
          line-height: 51px
          text-shadow: 2px 2px 0px #524A2B
        &-right
          margin: 0
          font-size: 14px
          line-height: 21px
        &:not(:last-child)
          margin: 0 0 0 0
        &:first-child
          align-items: flex-start
          margin: 0 20px 0 0
        &:nth-child(2)
          margin: 0 13px 0 0
        &:nth-child(3)
          margin: 0 20px 0 0
          .land__footer-item-right
            max-width: 100%
          .land__footer-item-left
            white-space: nowrap
          .land__footer-item-left::after
            width: 35px
            height: 33px
          &::before
            bottom: 24px
            left: 8px
            width: 62px
            height: 13px
            font-size: 12px
            line-height: 14px
        &:nth-child(4)
          margin: 0 10px 0 0
        &:nth-child(5)
          .land__footer-item-right
            max-width: 100px
            text-align: end
            span
              padding: 2px 3px 1px
              font-size: 12px
              line-height: 14px
      &-lic
        max-width: 275px
        text-align: center
        img
          &:not(:last-child)
            margin: 0 20px 20px 0
          &:nth-child(5)
            margin: 0 0 20px 0

@media screen and (max-width: 378px) and (orientation: portrait)
  .land
    &__footer
      &-item
        &:nth-child(3)::before
          bottom: 43px
    &__content
      &-container
        transform: scale(0.45)
        margin: 40px 0 -476px 0
      &-link
        &::before
          top: 164px
      &-rules
        transform: scale(.9)
        &-enjoy
          transform: scale(0.23)
          left: -269px
          top: -249px

@media screen and (max-width: 360px) and (orientation: portrait)
  .land
    &__content
      &-container
        transform: scale(0.38)
        margin: 40px 0 -586px 0
      &-rules
        transform: scale(.8)
        margin: 0 auto 156px auto
        &-enjoy
          transform: scale(0.2)
          left: -253px
          top: -221px
    &__footer
      &-list
        transform: scale(.85)

/****************************************LANDSCAPE************************************/

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
  .land
    &__start
      &::before
        content: none
      &-wrap
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -39%) scale(.7)
      &-top
        min-width: 310px
      &-bottom
        max-width: 237px
        margin: -57px auto 0 auto
        left: 6px
    &__logo
      width: 177px
    &__palm
      &-one
        width: 267px
        height: 314px
      &-two
        width: 579px
        height: 612px
        right: -342px
        top: -1%
    &__content
      &-container
        transform: scale(0.35)
        margin: 0 0 -672px 0
      &-link
        transform: scale(1.3)
        top: 30px
        &::before
          transform: scale(.9)
          top: 26px
          right: -64px
      &-bonus
        &::before
          width: 150%
          top: 137%
        &-promo
          img
            top: -69px
      &-rules
        transform: scale(.8)
        width: 375px
        height: 500px
        margin: 0 auto 144px auto
        padding: 39px 0 0
        &-enjoy
          transform: scale(0.25)
          left: 459px
          top: -151px
        &-title
          font-size: 22px
          line-height: 27px
          text-shadow: 1px 1px 0px #524A2B
          margin: 0 0 28px 0
        &-list
          max-width: 255px
          margin: 0 0 18px 0
        &-item
          text-shadow: 1px 1px 0px #6C6857
          padding: 0 0 0 53px
          font-size: 13px
          line-height: 18px
          min-height: 26px
          &:not(:last-child)
            margin: 0 0 22px 0
          &:first-child::after
            width: 33px
            height: 33px
          &:nth-child(2)::after
            width: 41px
            height: 35px
          &:nth-child(3)::after
            width: 40px
            height: 30px
          &:nth-child(4)::after
            width: 41px
            height: 30px
        &-info
          font-size: 12px
          line-height: 16px
    &__footer
      padding: 46px 0 15px
      &-container
        &::before
          top: -63px
          height: 57px
      &-list
        margin: 0
      &-item
        img
          margin-top: 14px
          max-width: 20px
        &-left
          font-size: 44px
          line-height: 51px
          text-shadow: 2px 2px 0px #524A2B
        &-right
          margin: 0
          font-size: 14px
          line-height: 21px
        &:not(:last-child)
          margin: 0 0 0 0
        &:first-child
          align-items: flex-start
          margin: 0 20px 0 0
        &:nth-child(2)
          margin: 0 13px 0 0
        &:nth-child(3)
          margin: 0 20px 0 0
          .land__footer-item-right
            max-width: 100%
          .land__footer-item-left
            white-space: nowrap
          .land__footer-item-left::after
            width: 35px
            height: 33px
          &::before
            bottom: 24px
            left: 8px
            width: 62px
            height: 13px
            font-size: 12px
            line-height: 14px
        &:nth-child(4)
          margin: 0 10px 0 0
        &:nth-child(5)
          .land__footer-item-right
            max-width: 100px
            text-align: end
            span
              padding: 2px 3px 1px
              font-size: 12px
              line-height: 14px
      &-lic
        transform: scale(.75)
        max-width: 275px
        text-align: center
        img
          &:not(:last-child)
            margin: 0 20px 20px 0
          &:nth-child(5)
            margin: 0 0 20px 0


@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 380px)
  .land
    &__start
      &-wrap
        transform: translate(-50%, -34%) scale(.6)
    &__content
      &-container
        transform: scale(0.3)
        margin: 10px 0 -711px 0
      &-link
        &::before
          top: 44px



@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 330px)
  .land
    &__start
      &-wrap
        transform: translate(-50%, -24%) scale(.45)
    &__content
      &-container
        transform: scale(0.25)
        margin: 10px 0 -767px 0
      &-link
        &::before
          top: 44px
      &-rules
        transform: scale(.75)

