@media screen and (min-width: 2000px)
  .land
    &__palm
      &-two
        width: 1032px
        height: 1098px
      &-one
        width: 601px
        height: 813px

@media screen and (min-width: 2000px) and (max-height: 1020px)
  .land
    &__content
      &-container
        transform-origin: top center
        transform: scale(.9)
        margin: 0 0 -80px 0

@media screen and (min-width: 2400px)
  .land
    &__palm
      &-one
        width: 671px
        height: 925px
      &-two
        width: 1203px
        height: 1242px

@media screen and (max-width: 1930px) and (max-height: 1020px)
  .land
    &__content
      &-container
        transform-origin: top center
        transform: scale(.9)
        margin: 0 0 -80px 0

@media screen and (max-width: 1930px) and (max-height: 915px)
  .land
    &__start
      &-wrap
        transform: scale(.9)

@media screen and (max-width: 1930px) and (max-height: 815px)
  .land
    &__start
      &-wrap
        transform: scale(.8)

@media screen and (max-width: 1930px) and (max-height: 778px)
  .land
    &__start
      &::before
        top: 47%
      &-wrap
        position: relative
        top: 10vh
        transform-origin: top center
        transform: scale(.7)

@media screen and (max-width: 1930px) and (max-height: 660px)
  .land
    &__start
      &::before
        top: 44%
      &-wrap
        top: 15vh
        transform: scale(.6)

@media screen and (max-width: 1930px) and (max-height: 605px)
  .land
    &__start
      &::before
        top: 38%
      &-wrap
        top: 15vh
        transform: scale(.5)

@media screen and (max-width: 1700px) and (max-height: 910px)
  .land
    &__content
      &-container
        transform: scale(.85)
        margin: 0 0 -164px 0
      &-rules
        transform: scale(.9)

@media screen and (max-width: 1700px) and (max-height: 865px)
  .land
    &__palm
      &-two
        width: 807px
        height: 811px
      &-one
        width: 420px
        height: 609px
    &__content
      &-container
        transform: scale(.8)
        margin: 0 0 -243px 0
      &-rules
        transform: scale(.85)

@media screen and (max-width: 1700px) and (max-height: 808px)
  .land
    &__content
      &-container
        transform: scale(.75)
        margin: 0 0 -291px 0

@media screen and (max-width: 1700px) and (max-height: 770px)
  .land
    &__content
      &-container
        transform: scale(.7)
        margin: 0 0 -343px 0

@media screen and (max-width: 1598px)
  .land
    &__footer
      padding: 57px 0 26px
      &-container
        &::before
          top: -84px
      &-item
        &-left
          font-size: 62px
          line-height: 49px
        &-right
          font-size: 17px
          line-height: 24px
        img
          max-width: 35px
        &:nth-child(3) .land__footer-item-left::after
          width: 37px
          height: 43px
        &:nth-child(3)::before
          font-size: 15px
          line-height: 19px
          width: 82px
          height: 17px
          bottom: -5px
          left: 7px
        &:last-child .land__footer-item-right
          span
            font-size: 15px
            line-height: 19px


@media screen and (max-width: 1450px)
  .land
    &__logo
      width: 321px
    &__palm
      &-one
        width: 411px
        height: 505px
      &-two
        width: 758px
        height: 830px
        right: -356px

@media screen and (max-width: 1450px) and (max-height: 902px)
  .land
    &__palm
      &-two
        width: 810px

@media screen and (max-width: 1425px)
  .land
    &__content
      &-bonus
        &::before
          width: 90vw
      &-rules
        margin-bottom: 60px
    &__footer
      &-wrapper
        flex-direction: column
        align-items: center
      &-list
        margin: 0 0 40px 0
      &-lic
        margin: 0

@media screen and (max-width: 1425px) and (min-height: 870px)
  .land
    &__palm
      &-two
        top: -1%
      &-one
        top: 4%

@media screen and (max-width: 1425px) and (min-height: 903px)
  .land
    &__palm
      &-two
        top: 4%
      &-one
        top: 4%

@media screen and (max-width: 1425px) and (max-height: 770px)
  .land
    &__content
      &-rules
        margin-bottom: 0

@media screen and (max-width: 1425px) and (max-height: 710px)
  .land
    &__palm
      &-two
        width: 749px
        right: -326px
    &__content
      &-container
        transform: scale(0.65)
        margin: 0 0 -405px 0

@media screen and (max-width: 1425px) and (max-height: 660px)
  .land
    &__content
      &-container
        transform: scale(0.6)
        margin: 0 0 -482px 0
      &-rules
        transform: scale(0.8)

@media screen and (max-width: 1300px) and (max-height: 610px)
  .land
    &__palm
      &-two
        width: 692px
      &-one
        width: 416px
        height: 421px
    &__content
      &-container
        transform: scale(0.55)
        margin: 0 0 -554px 0
      &-rules
        transform: scale(0.75)

@media screen and (max-width: 1216px)
  .land
    &__logo
      width: 262px
    &__content
      &-bonus
        &::before
          top: 119%

@media screen and (max-width: 1216px) and (max-height: 610px)
  .land
    &__logo
      width: 262px

