$blue: #000055
$magenta: #ff267e
$green: #05C489
$green-hover: #09B47F
$gray: #EDEDED
$text: #292929
$white: #FFFFFF

$font-suisse-reg: SuisseIntl-Regular, sans-serif // 400
$font-inform: InformC, sans-serif


body
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  overscroll-behavior: none
  height: 100%
  img,
  picture
    max-width: 100%
    height: auto
  &._lock
    overflow: hidden

.wrapper
  overflow-x: hidden
  position: relative
  @media screen and (min-width: 700px) and (orientation: landscape) and (min-height: 451px)
    background: url('../img/bg-desc.jpg') no-repeat 50% 0/cover
  @media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait)
    background: url('../img/bg-tab.jpg') no-repeat 50% 0/cover
  @media screen and (max-width: 600px) and (orientation: portrait)
    background: url("../img/bg-mob.jpg") no-repeat 50% 0/contain
  @media (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
    background: url("../img/bg-landscape.jpg") no-repeat 50% 0/cover

.land
  width: 100vw
  min-height: 100vh
  overflow-y: scroll
  &__start
    background: rgba(204, 103, 46, 0.55)
    min-width: 100%
    min-height: 100vh
    overflow: hidden
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: absolute
    z-index: 15
    opacity: 1
    visibility: visible
    transition: opacity 2s ease, visibility 2s ease
    &._hidden
      opacity: 0
      visibility: hidden
    &-wrap
      position: relative
      z-index: 4
    &::before
      content: ''
      position: absolute
      z-index: 1
      top: 52%
      left: 0
      transform: translateY(-50%)
      width: 100%
      height: 50%
      @media screen and (min-width: 700px) and (orientation: landscape) and (min-height: 451px)
        background: url('../img/light-desc.png') no-repeat 50% 0/contain
      @media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait)
        background: url('../img/light-tab.png') no-repeat 50% 0/contain
      @media screen and (max-width: 600px) and (orientation: portrait)
        background: url("../img/light-mob.png") no-repeat 50% 0/contain
      @media (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
        background: url("../img/light-mob.png") no-repeat 50% 0/contain
      animation: 5s ease infinite  lightStart
    &-top
      max-width: 530px
      position: relative
      z-index: 2
      animation: 1s ease  scaleStart
    &-bottom
      max-width: 482px
      margin: -75px 0 0 0
      position: relative
      z-index: 2
      transform: scale(0)
      animation: 1s ease  scaleStart
      animation-delay: .5s
      animation-fill-mode: both
  &__logo
    position: absolute
    z-index: 9
    top: 0
    left: 0
    width: 403px
    height: 132px
    background: url("../img/logo.svg") no-repeat 50% 0/contain
  &__palm
    &-one
      width: 480px
      height: 694px
      position: absolute
      top: 50px
      left: -80px
      transform-origin: bottom left
      animation: 8s ease infinite  palmOne
      @media screen and (min-width: 700px) and (orientation: landscape) and (min-height: 451px)
        background: url('../img/palm1-desc.png') no-repeat 50% 0/contain
      @media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait)
        background: url('../img/palm1-desc.png') no-repeat 50% 0/contain
      @media screen and (max-width: 600px) and (orientation: portrait)
        background: url("../img/palm1.mob.png") no-repeat 50% 0/contain
      @media (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
        background: url("../img/palm1.mob.png") no-repeat 50% 0/contain
    &-two
      width: 878px
      height: 878px
      position: absolute
      right: -415px
      top: -100px
      transform-origin: bottom right
      animation: 8s ease infinite  palmTwo
      @media screen and (min-width: 700px) and (orientation: landscape) and (min-height: 451px)
        background: url('../img/palm2-desc.png') no-repeat 50% 0/contain
      @media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait)
        background: url('../img/palm2-desc.png') no-repeat 50% 0/contain
      @media screen and (max-width: 600px) and (orientation: portrait)
        background: url("../img/palm2.mob.png") no-repeat 50% 0/contain
      @media (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
        background: url("../img/palm2.mob.png") no-repeat 50% 0/contain
  &__content
    display: flex
    flex-direction: column
    align-items: center
    opacity: 1
    visibility: visible
    transition: opacity 2s ease, visibility 2s ease
    &._hidden
      visibility: hidden
      opacity: 0
    &-container
      margin: 0 0 30px 0
    &-slides
      max-width: 740px
    &-bonus
      margin-top: -150px
      position: relative
      z-index: 3
      &::before
        content: ''
        width: 1280px
        height: 830px
        background: url('../img/ligtn-back-desc.png') no-repeat 0 0/contain
        position: absolute
        top: 78%
        left: 50%
        transform: translate(-50%, -50%)
        animation: 5s ease infinite  lightBack
      &-text
        font-family: $font-inform
        text-align: center
        position: relative
        z-index: 4
        font-size: 85px
        line-height: 87px
        letter-spacing: 0.1em
        text-transform: uppercase
        color: $white
        text-shadow: 3px 3px 0 #7B7251
      &-promo
        margin: 0 auto
        position: relative
        width: 698px
        height: 164px
        background: rgba(255, 255, 255, 0.22)
        border: 5px dashed $white
        backdrop-filter: blur(6px)
        border-radius: 81.7597px
        transform: rotate(-8.01deg)
        img
          position: absolute
          width: 94%
          top: -17px
          left: 10px
      &-copy
        cursor: pointer
        position: absolute
        right: -37px
        top: 25px
        width: 75px
        height: 81px
        background: url("../img/btn-copy.png") no-repeat 0 0/contain
        transform: rotate(8.01deg)
        transition: .3s ease
        &:hover
          background: url("../img/btn-copy-hover.png") no-repeat 0 0/contain
        &-text
          position: absolute
          right: -41px
          top: -6px
          font-family: $font-inform
          text-transform: uppercase
          font-size: 20px
          line-height: 24px
          color: #FFFFFF
          text-shadow: 1px 1px 0px #524A2B
          opacity: 0
          visibility: hidden
          transition: opacity .9s ease, visibility .9s ease
          &.copy
            opacity: 1
            visibility: visible
    &-link
      position: relative
      margin: 28px auto 0 auto
      z-index: 5
      display: block
      width: 365px
      height: 177px
      background: url("../img/btn-desc.png") no-repeat 0 0/contain
      transition: .3s ease
      &::before
        pointer-events: none
        content: ''
        position: absolute
        left: -220px
        top: 40px
        width: 156px
        height: 132px
        background: url("../img/arrow.png") no-repeat 0 0/contain
      &:hover
        filter: drop-shadow(0 0 10px #FFF3B1)
        background: url("../img/btn-desc-hover.png") no-repeat 0 0/contain
    &-rules
      width: 837px
      height: 928px
      display: flex
      flex-direction: column
      align-items: center
      padding: 97px 0 0
      @media screen and (min-width: 700px) and (orientation: landscape) and (min-height: 451px)
        background: url('../img/rules-desc.png') no-repeat 50% 0/contain
      @media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait)
        background: url('../img/rules-tab.png') no-repeat 50% 0/contain
      @media screen and (max-width: 600px) and (orientation: portrait)
        background: url("../img/rules-mob.png") no-repeat 50% 0/contain
      @media (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
        background: url("../img/rules-mob.png") no-repeat 50% 0/contain
      &-title
        font-family: $font-inform
        text-align: center
        font-size: 50px
        line-height: 49px
        text-transform: uppercase
        color: #FFE55E
        text-shadow: 2px 2px 0 #524A2B
        margin: 0 0 70px 0
      &-list
        max-width: 515px
        margin: 0 0 35px 0
      &-item
        font-family: $font-suisse-reg
        min-height: 75px
        display: flex
        align-items: center
        padding: 0 0 0 105px
        font-size: 23px
        line-height: 35px
        color: $white
        position: relative
        &::after
          content: ''
          position: absolute
          width: 75px
          height: 75px
          left: 0
          top: 50%
          transform: translateY(-50%)
        &:not(:last-child)
          margin: 0 0 28px 0
        &:first-child::after
          left: 15px
          @media screen and (min-width: 700px) and (orientation: landscape) and (min-height: 451px)
            background: url('../img/one.png') no-repeat 50% 0/contain
          @media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait)
            background: url('../img/one.png') no-repeat 50% 0/contain
          @media screen and (max-width: 600px) and (orientation: portrait)
            background: url("../img/one-mob.png") no-repeat 50% 0/contain
          @media (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
            background: url("../img/one-mob.png") no-repeat 50% 0/contain
        &:nth-child(2)::after
          width: 93px
          height: 78px
          @media screen and (min-width: 700px) and (orientation: landscape) and (min-height: 451px)
            background: url('../img/two.png') no-repeat 50% 0/contain
          @media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait)
            background: url('../img/two.png') no-repeat 50% 0/contain
          @media screen and (max-width: 600px) and (orientation: portrait)
            background: url("../img/two-mob.png") no-repeat 50% 0/contain
          @media (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
            background: url("../img/two-mob.png") no-repeat 50% 0/contain
        &:nth-child(3)::after
          width: 91px
          height: 69px
          @media screen and (min-width: 700px) and (orientation: landscape) and (min-height: 451px)
            background: url('../img/three.png') no-repeat 50% 0/contain
          @media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait)
            background: url('../img/three.png') no-repeat 50% 0/contain
          @media screen and (max-width: 600px) and (orientation: portrait)
            background: url("../img/three-mob.png") no-repeat 50% 0/contain
          @media (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
            background: url("../img/three-mob.png") no-repeat 50% 0/contain
        &:nth-child(4)::after
          width: 93px
          height: 69px
          @media screen and (min-width: 700px) and (orientation: landscape) and (min-height: 451px)
            background: url('../img/fourth.png') no-repeat 50% 0/contain
          @media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait)
            background: url('../img/fourth.png') no-repeat 50% 0/contain
          @media screen and (max-width: 600px) and (orientation: portrait)
            background: url("../img/fourth-mob.png") no-repeat 50% 0/contain
          @media (max-width: 920px) and (orientation: landscape) and (max-height: 450px)
            background: url("../img/fourth-mob.png") no-repeat 50% 0/contain
      &-info
        font-family: $font-suisse-reg
        font-size: 16px
        line-height: 34px
        text-align: center
        letter-spacing: 0.03em
        color: $white
  &__footer
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: 42px 0 15px
    background: rgba(243, 123, 223, 0.53)
    backdrop-filter: blur(5px)
    &-container
      position: relative
      &::before
        top: -70px
        left: 0
        content: ''
        position: absolute
        width: 100%
        height: 85px
        background: url("../img/footer-top.png") repeat-x 0 0/contain
    &-wrapper
      display: flex
      align-items: center
      max-width: 1745px
      padding: 0 15px
      margin: 0 auto
    &-list
      display: flex
      align-items: center
      margin: 0 15px 0 0
    &-item
      display: flex
      align-items: center
      &:not(:last-child)
        margin: 0 20px 0 0
      &:nth-child(3) .land__footer-item-right
          max-width: 104px
      &:nth-child(3) .land__footer-item-left::after
        content: ''
        display: inline-block
        margin-left: 9px
        margin-top: 2px
        margin-right: -7px
        width: 51px
        height: 60px
        background: url("../img/euro.svg") no-repeat 0 0/contain
      &:nth-child(3)
        position: relative
      &:nth-child(3)::before
        content: '226,04 kn'
        position: absolute
        padding-top: 2px
        bottom: 12px
        left: 19px
        font-family: $font-inform
        width: 90px
        height: 23px
        border-width: 1px 0px
        border-style: solid
        border-color: #E22596
        display: flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        font-size: 19px
        line-height: 22px
        color: #E22596
        background: #FFFFFF
        transform: rotate(-4.04deg)

      &:last-child .land__footer-item-right
        max-width: 255px
        span
          display: inline-block
          white-space: nowrap
          margin-top: -3px
          padding: 2px 6px 1px
          font-family: $font-inform
          border-width: 1px 0px
          border-style: solid
          border-color: #E22596
          font-size: 19px
          line-height: 22px
          color: #E22596
          background: #FFFFFF
      &-left
        font-family: $font-inform
        font-size: 84px
        line-height: 99px
        text-transform: uppercase
        margin: 0 25px 0 0
        color: #FFE55E
        text-shadow: 3px 3px 0 #524A2B
      &-right
        font-family: $font-inform
        font-size: 24px
        line-height: 35px
        letter-spacing: 0.03em
        text-transform: uppercase
        color: #FFFFFF
        text-shadow: 1px 1px 0 #524A2B
    &-lic
      margin: 0 0 0 auto
      img
        display: inline-block
        &:not(:last-child)
          margin: 0 20px 0 0



@keyframes scaleStart
  0%
    transform: scale(0)
  100%
    transform: scale(1)


@keyframes lightStart
  0%
    transform: translateY(-50%) scale(1)
  50%
    transform: translateY(-50%) scale(1.2)
  100%
    transform: translateY(-50%) scale(1)

@keyframes lightBack
  0%
    transform: translate(-50%, -50%) scale(1)
    opacity: 0.8
  50%
    transform: translate(-50%, -50%) scale(1.1)
    opacity: 1
  100%
    transform: translate(-50%, -50%) scale(1)
    opacity: 0.8

@keyframes palmOne
  0%
    transform: rotate(0) scale(1)
  50%
    transform: rotate(2deg) scale(1.02)
  100%
    transform: rotate(0) scale(1)

@keyframes palmTwo
  0%
    transform: rotate(0) scale(1)
    opacity: 1
  50%
    transform: rotate(-.5deg) scale(1.02)
    opacity: 0.8
  100%
    transform: rotate(0) scale(1)
    opacity: 1

//slider
.slides
  position: relative
  width: 712px
  height: 700px
  left: 40px
  padding: 0
  margin: 0 auto
  list-style-type: none
.slide
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  opacity: 0
  z-index: 1
  transition: opacity 1.5s ease
.showing
  opacity: 1
  z-index: 2

