.wrapper
    .land__logo
    .land__palm-one
    .land__palm-two
    .land
        .land__start
            .land__start-wrap
                .land__start-top
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/start-top-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/start-top-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/star-top-desc.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/star-top-desc.png")
                        img(src="img/star-top-desc.png" alt="Favbet")
                .land__start-bottom
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/start-mob.png")
                        source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/start-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/start-desc.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/start-desc.png")
                        img(src="img/start-desc.png" alt="Favbet")

        .land__content._hidden
            .land__content-wrapper
                .land__content-container
                    .land__content-slides.slides
                        .land__content-slides-item.slide.showing
                            picture
                                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/girl1-mob.png")
                                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/girl1-mob.png")
                                source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/girl1-desc.png")
                                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/girl1-desc.png")
                                img(src="img/girl1-desc.png" alt="Favbet")
                        .land__content-slides-item.slide
                            picture
                                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/girl2-mob.png")
                                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/girl2-mob.png")
                                source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/girl2-desc.png")
                                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/girl2-desc.png")
                                img(src="img/girl2-desc.png" alt="Favbet")
                        .land__content-slides-item.slide
                            picture
                                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/girl3-mob.png")
                                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/girl3-mob.png")
                                source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/girl3-desc.png")
                                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/girl3-desc.png")
                                img(src="img/girl3-desc.png" alt="Favbet")
                    .land__content-bonus
                        .land__content-bonus-text promo kod
                        .land__content-bonus-promo
                            picture
                                source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/fun100-mob.png")
                                source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/fun100-mob.png")
                                source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/fun100.png")
                                source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/fun100.png")
                                img(src="img/fun100.png" alt="Favbet")
                            .land__content-bonus-copy
                            .land__content-bonus-copy-text kopirano

                    a(href='#').land__content-link
                .land__content-rules
                    .land__content-rules-title Osvoji 100 besplatnih vrtnji #[br] s promo kodom fun100
                    ul.land__content-rules-list
                        li.land__content-rules-item Registriraj se na favbet.hr ako još nisi s nama
                        li.land__content-rules-item Upiši promo kod fun100 u korisničkom pretincu nakon registracije
                        li.land__content-rules-item Uplati od 10 EUR, zavrti 50 EUR
                        li.land__content-rules-item Dobivaš 100 besplatnih vrtnji na svoj korisnički račun u odjeljku "Bonusi"
                    .land__content-rules-info Promo kod je aktivan do 04.01.2024.
        .land__footer
            .land__footer-container
                .land__footer-wrapper
                    ul.land__footer-list
                            li.land__footer-item
                                .land__footer-item-left 200
                                .land__footer-item-right BESPLATNIH #[br] VRTNJI
                            li.land__footer-item
                                img(src='img/plus.svg' alt='plus')
                            li.land__footer-item
                                .land__footer-item-left 30
                                .land__footer-item-right RISK-FREE BET
                            li.land__footer-item
                                img(src='img/plus.svg' alt='plus')
                            li.land__footer-item
                                .land__footer-item-left 100%
                                .land__footer-item-right BONUSA NA PRVI DEPOZIT do 700 #[span 5274,15 kn]
                    .land__footer-lic
                        img(src='img/18plus.svg' alt='18plus').land__footer-lic-one
                        img(src='img/visa.svg' alt='visa').land__footer-lic-two
                        img(src='img/alf.svg' alt='alf').land__footer-lic-three
                        img(src='img/mastercard.svg' alt='mastercard').land__footer-lic-fourth
                        img(src='img/maestro.svg' alt='maestro').land__footer-lic-five
                        img(src='img/aircash.svg' alt='aircash').land__footer-lic-six


