.fav__page
    a(href='https://tds.favbet.partners' class='all-link')
    .land
        .land__logo
        .land__text-promo-mob АКЦІЯ
        .land__wrapper
            .land__image-text Андрій Ярмоленко #[br] #[span бренд-амбасадор]
            .land__image
                picture.land__image-main
                    source(media="(max-width: 600px) and (orientation: portrait)" srcset="img/pers-mob.png")
                    source(media="(max-width: 920px) and (orientation: landscape) and (max-height: 450px)" srcset="img/pers-landscape.png")
                    source(media="(min-width: 601px) and (max-width: 1024px) and (orientation: portrait)" srcset="img/pers-desc.png")
                    source(media="(min-width: 601px) and (orientation: landscape)" srcset="img/pers-desc.png")
                    img(src="img/pers-desc.png" alt="Favbet")
            .land__text
                .land__text-promo АКЦІЯ
                .land__text-welcom Вітальний БОНУС
                .land__text-bonus 4500₴
                .land__text-spin 100 ФРІСПІНІВ
                .land__text-wrapper
                    a(href='https://tds.favbet.partners').land__text-link Забирай бонус
                    .land__text-info * Під бонусом розуміється можливість отримати приз в рамках Акції “Вітальний бонус”. Деталі на сайті <a href='https://www.favbet.ua/uk/promos/promo/new_welcome/'>favbet.ua</a>. Період Акції з 01.02.2023 по 31.12.2023 року.<br/> Бонус доступний тільки для нових клієнтів.
        .land__footer
            .land__footer-row
                .land__footer-text Ліцензія на провадження діяльності з організації та проведення азартних ігор казино в мережі Інтернет від 20.04.2021 року, видана ТОВ «БК «ФАВБЕТ» на підставі Рішення КРАІЛ від 05.04.2021 року за №137 із змінами та Ліцензія на провадження діяльності з організації та проведення букмекерської діяльності від 28.12.2022 року, видана ТОВ «БК «ФАВБЕТ» на підставі Рішення КРАІЛ від 13.12.2022 року за № 433
                .land__footer-info
                    .land__footer-info-licensed
                        img(src='img/21+.svg' alt='21+').land__footer-info-licensed-one.land__footer-info-licensed-img
                        img(src='img/applePay.svg' alt='applePay').land__footer-info-licensed-two.land__footer-info-licensed-img
                        img(src='img/googlePay.svg' alt='googlePay').land__footer-info-licensed-three.land__footer-info-licensed-img
                        img(src='img/visa.svg' alt='visa').land__footer-info-licensed-fourth.land__footer-info-licensed-img
                        img(src='img/mastercard.svg' alt='mastercard').land__footer-info-licensed-five.land__footer-info-licensed-img
                    .land__footer-info-buttons
                        a(href='https://apps.apple.com/ua/app/favbet-ua/id1580749519' aria-label='link-appStore' target="_blank").land__footer-info-buttons-apple
                            img(src='img/appleBtn.png' alt='apple-store')
                        a(href='https://favbet.ua/minio/android-files/FavbetUA.apk' aria-label='link-googleStore' target="_blank").land__footer-info-buttons-google
                            img(src='img/googleBtn.svg' alt='google-store')

        .land__legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ
        .land__legal-desc
            .land__legal-desc-wrap



